{% extends "_base.html" %}
{% block title %}
  Checkout
{% endblock title %}
{% block content %}
  <div class="mt-6 px-6 py-1 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Checkout - Almost there</h2>
    <div class="w-full pr-6">
      <div class="mb-6 p-6 bg-gray-100">
        <h2 class="uppercase mb-5 text-lg">Shipping Information</h2>
        <fieldset>
          <legend class="sr-only">Checkboxes</legend>
          <div class="space-y-2">
            {% for shipping in shipping_list %}
              <label for="{{ shipping.pk }}"
                     class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-200 p-4 transition hover:bg-gray-50 has-[:checked]:bg-blue-50">
                <div class="flex items-center">
                  &#8203;
                  <input type="radio"
                         class="size-4 rounded border-gray-300"
                         name="shipping_option"
                         value="{{ shipping.pk }}"
                         onclick="selectShipping({{ shipping.pk }})" />
                </div>
                <div>
                  <strong class="font-medium text-gray-900">Shipping: {{ shipping.address }}</strong>
                  <p class="mt-1 text-pretty text-sm text-gray-700">City: {{ shipping.city }} Zip code: {{ shipping.zipcode }}.</p>
                  <p class="mt-1 text-pretty text-sm text-gray-700">Phone: {{ shipping.phone }}</p>
                </div>
              </label>
            {% endfor %}
          </div>
        </fieldset>
        <div class="mb-6 p-6 bg-gray-100" id="errors"></div>
        <div class="flex space-x-6">
          <div class="w-1/2 mb-4">
            <div class="mb-4">
              <label for="" class="inline-block mb-2">First Name</label>
              <input type="text"
                     class="w-full p-5"
                     value="{{ request.user.first_name }}"
                     name="first_name">
            </div>
          </div>
          <div class="w-1/2 mb-4">
            <div class="mb-4">
              <label for="" class="inline-block mb-2">Last Name</label>
              <input type="text"
                     class="w-full p-5"
                     value="{{ request.user.last_name }}"
                     name="last_name">
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label for="" class="inline-block mb-2">Address</label>
          <input type="text" class="w-full p-5" name="address">
        </div>
        <div class="flex space-x-6">
          <div class="w-1/2 mb-4">
            <div class="mb-4">
              <label for="" class="inline-block mb-2">Zip Code</label>
              <input type="text" class="w-full p-5" name="zipcode">
            </div>
          </div>
          <div class="w-1/2 mb-4">
            <div class="mb-4">
              <label for="" class="inline-block mb-2">City</label>
              <input type="text" class="w-full p-5" name="city">
            </div>
          </div>
        </div>
      </div>
      <div class="mb-6 p-6 bg-gray-100">
        <h2 class="uppercase mb-5 text-lg">Contact Information</h2>
        <div class="mb-4">
          <label for="" class="inline-block mb-2">Email</label>
          <input type="email"
                 class="w-full p-5"
                 value="{{ request.user.email }}"
                 name="email">
        </div>
        <div class="mb-4">
          <label for="" class="inline-block mb-2">Phone</label>
          <input type="phone" class="w-full p-5" name="phone">
        </div>
      </div>
      <div class="mb-6 p-6 bg-gray-100">
        <h2 class="uppercase mb-5 text-lg">Payment Information</h2>
      </div>
    </div>
  </div>
  <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl w-f">
    <h2 class="mb-12 text-2xl text-center">Summary</h2>
    <div class="mt-8 flex justify-end border-t border-gray-100 pt-8">
      <div class="w-screen max-w-lg space-y-4">
        <dl class="space-y-0.5 text-sm text-gray-700">
          {% if cart.coupon %}
            <div class="flex justify-between">
              <dt>Subtotal</dt>
              <dd>
                ${{ cart.total_price|floatformat:2 }}
              </dd>
            </div>
            <div class="flex justify-between">
              <dt>{{ cart.coupon.code }} coupon</dt>
              <dd>
                {{ cart.coupon.discount }}% off
              </dd>
            </div>
            <div class="flex justify-between">
              <dt>Discount</dt>
              <dd>
                - {{ cart.discount|floatformat:2 }}
              </dd>
            </div>
          {% endif %}
          <div class="flex justify-between !text-base font-medium">
            <dt>Total</dt>
            <dd hx-get="{% url 'cart:hx_total_price' %}"
                hx-trigger="update-menu-cart from:body"
                hx-swap="innerHTML">
              {% include "cart/partials/_total_price.html" %}
            </dd>
          </div>
        </dl>
        <div class="flex justify-end">
          <a type="submit"
             class="block rounded bg-gray-700 px-5 py-3 text-sm text-gray-100 transition hover:bg-gray-600 hover:cursor-pointer"
             onclick="buy(event)">Finish Checkout</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script type="application/javascript" src="https://js.stripe.com/v3/"></script>
  <script>
  const errorsElement = document.querySelector('#errors');
  let selectedShipping = -1;

  const selectShipping = (shipping_id) => {
    selectedShipping = shipping_id;
  }

  const validateForm = (data) => {
    let errors = [];


    if (data.first_name.length < 4) {
      errors.push('First name cannot have less than 4 characters');
    }

    if (data.last_name.length < 4) {
      errors.push('Last name cannot have less than 4 characters');
    }

    if (data.phone.length < 10) {
      errors.push('Phone cannot have less than 10 numbers');
    }

    if (data.address.length <= 5) {
      errors.push('Address cannot have less than 5 characters');
    }

    if (data.zipcode.length < 4) {
      errors.push('Zip code cannot have less than 4 characters');
    }

    if (data.city.length <= 4) {
      errors.push('City cannot have less than 4 characters');
    }

    if (errors.length) {
      let newElement = '<ul>'
      errors.forEach((error) => {
        newElement += `<li>${error}</li>`;
      })
      errorsElement.innerHtml = newElement + '</ul>';
    } else {
      errorsElement.innerHtml = '';
    }
    return errors
  }

  const buy = (event) => {
    event.preventDefault();
    let errors = [];
    let data = {};

    if (selectedShipping !== -1) {
      data = {'id': selectedShipping};
    } else {
      data = {
        'first_name': document.querySelector('input[name=first_name]').value,
        'last_name': document.querySelector('input[name=last_name]').value,
        'email': document.querySelector('input[name=email]').value,
        'phone': document.querySelector('input[name=phone]').value,
        'address': document.querySelector('input[name=address]').value,
        'zipcode': document.querySelector('input[name=zipcode]').value,
        'city': document.querySelector('input[name=city]').value
      }
      errors = validateForm(data);
    }

    if (errors.length) {
      //show error message
      console.log("errors", errors);
    } else {
      const stripe = Stripe('{{pub_key}}');

      fetch('/order/create/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFTOKEN': '{{ csrf_token }}',
        },
        credentials: 'same-origin',
        body: JSON.stringify(data)
      })
      .then((response) => {
        return response.json();
      })
      .then((session)=>{
        return stripe.redirectToCheckout({sessionId: session.session.id})
      })
      .then((result) => {
        if(result.error){
          alert(result.error.message);
        }
      })
      .catch((error) => {
        console.log('Error in stripe: ', error)
      })
    }
    return false;
  }
  </script>
{% endblock scripts %}
