{% extends "_base.html" %}
{% block title %}
    Your Cart
{% endblock title %}
{% block content %}
    <section>
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
            <div class="mx-auto max-w-3xl">
                <header class="text-center">
                    <h1 class="text-xl font-bold text-gray-900 sm:text-3xl">Your Cart</h1>
                </header>
                <div class="mt-8">
                    <ul class="space-y-4">
                        {% for product in cart %}
                            {% include "cart/partials/_product.html" %}
                        {% endfor %}
                    </ul>
                    {% if cart.length > 0 %}
                        <div class="mt-8 flex justify-end border-t border-gray-100 pt-8">
                            <div class="w-screen max-w-lg space-y-4">
                                <dl class="space-y-0.5 text-sm text-gray-700">
                                    {% if cart.coupon %}
                                        <div class="flex justify-between">
                                            <dt>Subtotal</dt>
                                            <dd>
                                                ${{ cart.total_price|floatformat:2 }}
                                            </dd>
                                        </div>
                                        <div class="flex justify-between">
                                            <dt>{{ cart.coupon.code }} coupon</dt>
                                            <dd>
                                                {{ cart.coupon.discount }}% off
                                            </dd>
                                        </div>
                                        <div class="flex justify-between">
                                            <dt>Discount</dt>
                                            <dd>
                                                - {{ cart.discount|floatformat:2 }}
                                            </dd>
                                        </div>
                                    {% endif %}
                                    <div class="flex justify-between !text-base font-medium">
                                        <dt>Total</dt>
                                        <dd hx-get="{% url 'cart:hx_total_price' %}"
                                            hx-trigger="update-menu-cart from:body"
                                            hx-swap="innerHTML">
                                            {% include "cart/partials/_total_price.html" %}
                                        </dd>
                                    </div>
                                </dl>
                                <p>Apply a coupon:</p>
                                <form action="{% url "coupons:apply" %}" method="post">
                                    {% csrf_token %}
                                    {{ coupon_apply_form }}
                                    <input type="submit" value="Apply">
                                </form>
                                <div class="flex justify-end">
                                    <a href="{% url "cart:checkout" %}"
                                       class="block rounded bg-gray-700 px-5 py-3 text-sm text-gray-100 transition hover:bg-gray-600">
                                        Checkout
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
