{% extends '_base.html' %}
{% load tailwind_filters %}
{% block title %}
    Create new product
{% endblock title %}
{% block content %}
    <div class="w-full md:w-2/3 mx-auto my-5 p-5 bg-white rounded-lg shadow">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Create new product</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Enter the information needed to create a new product in the store.</p>
        <form action="." method="post" enctype="multipart/form-data" class="mt-5">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="flex justify-end">
                <button class="rounded border border-teal-600 px-12 py-3 text-sm font-medium text-teal-600 hover:bg-teal-600 hover:text-white focus:outline-none focus:ring active:bg-teal-600 mt-5">
                    Submit
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
