{% extends "_base.html" %}
{% block title %}
    Explore our Products
{% endblock title %}
{% block content %}
    <section>
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
            <header>
                <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Product Collection</h2>
                <p class="mt-4 max-w-md text-gray-500">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
                    praesentium cumque iure dicta incidunt est ipsam, officia dolor fugit
                    natus?
                </p>
            </header>
            <div class="mt-8 block lg:hidden">
                <button class="flex cursor-pointer items-center gap-2 border-b border-gray-400 pb-1 text-gray-900 transition hover:border-gray-600">
                    <span class="text-sm font-medium">Filters & Sorting</span>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="h-4 w-4 rtl:rotate-180">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </button>
            </div>
            <div class="mt-4 lg:mt-8 lg:grid lg:grid-cols-4 lg:items-start lg:gap-8 mb-5">
                <div class="hidden space-y-4 lg:block">
                    <form class="relative">
                        <label for="Search" class="sr-only">Search</label>
                        <input type="text"
                               id="query"
                               name='query'
                               placeholder="Search product"
                               class="w-full rounded-md border-gray-200 py-2.5 pe-10 shadow-sm sm:text-sm pl-2"
                               name='price_from'
                               hx-get='{% url "products:search_filter" %}'
                               hx-target='#product_list'
                               hx-trigger='input changed delay:500ms'
                               hx-include="#order_by, #price_from, #price_to, #category" />
                        <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
                            <button type="button" class="text-gray-600 hover:text-gray-700">
                                <span class="sr-only">Search</span>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="h-4 w-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                                </svg>
                            </button>
                        </span>
                    </form>
                </div>
                <div class="hidden space-y-4 lg:block">
                    <label for="SortBy" class="block text-xs font-medium text-gray-700">Categories</label>
                    <select name="category"
                            id="category"
                            class="mt-1.5 w-full rounded-lg border-gray-300 text-gray-700 sm:text-sm pl-2"
                            hx-get='{% url "products:search_filter" %}'
                            hx-target='#product_list'
                            hx-include='#order_by, #query, #price_from, #price_to'>
                        <option value="">Please select</option>
                        {% for category in categories %}<option value="{{ category.pk }}">{{ category.name }}</option>{% endfor %}
                    </select>
                </div>
                <div>
                    <label for="priceRange" class="block text-xs font-medium text-gray-700">Price Range</label>
                    <div class="p-4">
                        <div class="flex justify-between gap-4">
                            <label for="price_from" class="flex items-center gap-2">
                                <span class="text-sm text-gray-600">$</span>
                                <input type="number"
                                       id="price_from"
                                       placeholder="from"
                                       class="w-full rounded-md border-gray-200 shadow-sm sm:text-sm pl-2"
                                       name='price_from'
                                       value='1'
                                       hx-get='{% url "products:search_filter" %}'
                                       hx-target='#product_list'
                                       hx-include='#order_by, #query, #price_to, #category'
                                       hx-trigger='keyup changed delay:500ms' />
                            </label>
                            <label for="price_to" class="flex items-center gap-2">
                                <span class="text-sm text-gray-600">$</span>
                                <input type="number"
                                       id="price_to"
                                       placeholder="to"
                                       class="w-full rounded-md border-gray-200 shadow-sm sm:text-sm pl-2"
                                       name='price_to'
                                       value='10000'
                                       hx-get='{% url "products:search_filter" %}'
                                       hx-target='#product_list'
                                       hx-include='#order_by, #query, #price_from, #category'
                                       hx-trigger='keyup changed delay:500ms' />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="hidden space-y-4 lg:block">
                    <label for="SortBy" class="block text-xs font-medium text-gray-700">Sort By</label>
                    <select id="order_by"
                            class="mt-1 rounded border-gray-300 text-sm"
                            name='order_by'
                            hx-get='{% url "products:search_filter" %}'
                            hx-include='#query, #price_from, #price_to, #category'
                            hx-target='#product_list'>
                        <option value="name">Name, ASC</option>
                        <option value="-name">Name, DESC</option>
                        <option value="-price">Price, DESC</option>
                        <option value="price">Price, ASC</option>
                    </select>
                </div>
            </div>
            <!-- Product list -->
            <div class="lg:col-span-3" id="product_list">
                {% include "products/partials/_list.html" with product_list=product_list page_obj=page_obj %}
            </div>
        </div>
    </section>
{% endblock content %}
