{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.8"
                integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
                crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" sizes="192x192" href="{% static "images/icons/android-icon-192x192.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/icons/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static "images/icons/favicon-96x96.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/icons/favicon-16x16.png" %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body class="flex flex-col h-screen justify-between">
        <!-- Messages -->
        {% if messages %}
            {% for message in messages %}
                {% include "_alert.html" with message=message %}
            {% endfor %}
        {% endif %}
        <!-- Navbar -->
        {% include "_nav.html" %}
        <!-- CONTENT -->
        <div class="mb-auto">
            {% block content %}
            {% endblock content %}
        </div>
        <!-- FOOTER -->
        {% include "_footer.html" %}
        {% comment %} {% include "_modal.html" %} {% endcomment %}
        {% comment %} <button onclick='toggleModal()'>Modal toggle</button> {% endcomment %}
        <script>
            const toggleModal = () => {
                const modalElement = document.getElementById('modal');
                modalElement.classList.toggle('hidden')
            }

            const removeMessage = () => {
                const messageElement = document.getElementById('alert-dialog');
                messageElement.remove();
            }
        </script>
        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
              event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
