{% extends "_base.html" %}
{% block title %}
    About Us
{% endblock title %}
{% block content %}
    <section>
        <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
            <div class="max-w-3xl">
                <h2 class="text-3xl font-bold sm:text-4xl">
                    Welcome to Shoppy, your one-stop destination for premium, nutritious, and delicious healthy food products.
                </h2>
            </div>
            <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
                <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
                    <img alt="Party"
                         src="https://images.unsplash.com/photo-1496843916299-590492c751f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80"
                         class="absolute inset-0 h-full w-full object-cover" />
                </div>
                <div class="lg:py-16">
                    <article class="space-y-4 text-gray-600">
                        <p>
                            We are dedicated to promoting a balanced and health-conscious lifestyle, making it easier for you to nourish your body and soul with the finest food options.
                        </p>
                        <p>
                            Our journey began with a simple realization: the food we consume plays a pivotal role in our overall well-being. With this in mind, we embarked on a mission to provide access to high-quality, wholesome foods that not only taste great but also support a healthier lifestyle. Our founders, passionate about health and nutrition, decided to make a difference in the way people eat, inspiring a community of mindful and conscious eaters.
                        </p>
                        <p>
                            At Shoppy, we take pride in offering an extensive selection of handpicked products that cater to a variety of dietary preferences and needs. What sets us apart is our commitment to:
                        </p>
                        <ul>
                            <li>
                                Quality: We source our products from trusted suppliers who prioritize quality and sustainability, ensuring that you receive the best-in-class ingredients.
                            </li>
                            <li>
                                Health-Conscious Choices: Our range includes organic, gluten-free, vegan, and other dietary options to support diverse nutritional needs and personal preferences.
                            </li>
                            <li>
                                Taste and Flavor: Healthy food doesn't have to be bland. We offer a variety of delicious, flavorful options that make eating well a delightful experience.
                            </li>
                            <li>
                                Community and Education: We are more than just a store. We're a community of like-minded individuals who believe in the power of good food. Our blog and resources provide valuable insights into nutrition and healthy living.
                            </li>
                            <li>
                                Customer-Centric Approach: Your satisfaction is our top priority. We aim to provide excellent customer service and a hassle-free shopping experience.
                            </li>
                        </ul>
                        <p>
                            Our Commitment
                            We believe in the potential of healthy eating to transform lives, boost energy, and improve overall well-being. Our commitment is to make these benefits accessible to all, without compromising on taste or quality. We are dedicated to:
                            Encouraging mindful choices in every purchase you make.
                            Supporting sustainability and ethical sourcing of our products.
                            Promoting a balanced lifestyle through nutritious, enjoyable, and affordable options.
                            Join Our Journey
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
