{% extends "_base.html" %}

{% block title %}FAQ{% endblock title %}

{% block content %}
<div class="space-y-4">
  <section>
    <div class="mx-auto max-w-screen-xl px-5 mb-5 py-16 sm:px-6 sm:py-24 lg:px-8">
      <div class="max-w-3xl">
        <h2 class="text-3xl font-bold sm:text-4xl ml-1 mb-5">
          Frequently Asked Questions
        </h2>
      </div>
  <details class="group [&_summary::-webkit-details-marker]:hidden" open>
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        Do you ship nationwide?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-5 mb-4 leading-relaxed text-gray-700">
      Yes, we ship our healthy food products to all regions across the country. Wherever you are, we've got you covered!
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        What is the shipping cost?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-5 mb-5 leading-relaxed text-gray-700">
      Shipping costs vary based on your location and the size of your order. You can see the shipping costs during the checkout process before finalizing your purchase.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        How long does it take for my order to arrive?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-5 mb-5 leading-relaxed text-gray-700">
      The delivery time depends on your location and the shipping option you choose at checkout. Typically, orders arrive within 3-7 business days. For more precise estimates, please refer to our Shipping & Delivery page.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        Are your products organic and non-GMO?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-5 mb-5 leading-relaxed text-gray-700">
      Yes, we are committed to offering organic and non-GMO products whenever possible. Look for the specific product details on each item's page to see its certifications and attributes.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        Do you offer products for specific dietary preferences, such as gluten-free or vegan?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-5 mb-5 leading-relaxed text-gray-700">
      Absolutely! We offer a wide range of products tailored to various dietary needs, including gluten-free, vegan, and more. You can easily filter products by dietary preferences on our website.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        Is my personal information safe when I shop with you?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-5 mb-5 leading-relaxed text-gray-700">
      Your privacy and security are our top priorities. We use industry-standard encryption and security measures to protect your data. You can learn more in our Privacy Policy.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        What payment methods do you accept?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-5 mb-5 leading-relaxed text-gray-700">
      We accept various secure payment methods, including credit cards, debit cards, and PayPal, to make your shopping experience as convenient as possible.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        What is your return policy?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-5 mb-5 leading-relaxed text-gray-700">
      We want you to be satisfied with your purchase. If you are not completely happy with your order, please refer to our Return Policy for detailed information on how to request a return or exchange.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        What should I do if my order arrives damaged or incorrect?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-5 mb-5 leading-relaxed text-gray-700">
      Contact our customer support team as soon as possible, and we will be happy to assist you in resolving any issues with your order. Your satisfaction is our priority.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        How can I get in touch with your customer support team?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-5 mb-5 leading-relaxed text-gray-700">
      We are here to help. You can contact our friendly customer support team via email at admin@shoppy.com. Our team is available to assist you with any inquiries or concerns.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        Do you have a physical store where I can visit?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-5 mb-5 leading-relaxed text-gray-700">
      Currently, Shoppy operates exclusively online. This allows us to provide nationwide shipping and maintain competitive prices for our products.
    </p>
  </details>

</div>
</div>
</section>
{% endblock content %}

















