{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Your Profile
{% endblock title %}
{% block content %}
  <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Shipping information</h2>
    <ul id="shipping_list" hx-trigger="load, taskListChanged">
      {% for shipping in shipping_info_list %}
        {% include "dashboard/partials/_shipping_info.html" with shipping=shipping %}
      {% endfor %}
    </ul>
    <button hx-get="{% url "dashboard:shipping_form" %}"
            hx-target="#shipping_forms">Add new shipping</button>
    <div id="shipping_forms"></div>
  </div>
{% endblock content %}
