{% extends "_base.html" %}
{% block title %}
  Orders
{% endblock title %}
{% block content %}
  <header class="bg-gray-50">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="text-center sm:text-left">
          <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Your orders!</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <ul role="list" class="divide-y divide-gray-100">
      {% for favorite in favorite_list %}
        <a href="{{ favorite.product.get_absolute_url }}">
          <li class="flex justify-between gap-x-6 py-5">
            <div class="flex min-w-0 gap-x-4">
              <img class="h-12 w-12 flex-none rounded-full bg-gray-50"
                   src="{{ favorite.product.get_thumbnail }}"
                   alt="{{ favorite.product.name }}">
              <div class="min-w-0 flex-auto pl-2">
                <p class="text-sm font-semibold leading-6 text-gray-900">{{ favorite.product.name }}</p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ favorite.product.description|truncatechars:40 }}</p>
              </div>
            </div>
            <div class="shrink-0 sm:flex sm:flex-col sm:items-end">
              <p class="mt-1 text-xs leading-5 text-gray-500 border-solid border-2 rounded p-1">${{ favorite.product.price }}</p>
            </div>
          </li>
        </a>
      {% empty %}
        <p>Ups! You have no orders placed yet!</p>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
