{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Your Profile
{% endblock title %}
{% block content %}
  <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Shipping information</h2>
    <ul id="shipping_list"
        hx-trigger="load, task-list-changed from:body"
        hx-get="{% url "dashboard:get_create_shipping_info" %}">
    </ul>
    <button class="my-4 w-full rounded-lg bg-teal-600 px-5 py-3 text-sm font-medium text-white"
            hx-get="{% url "dashboard:add_shipping_form" %}"
            hx-target="#shipping_form">Add new shipping</button>
    <div id="shipping_form"></div>
  </div>
{% endblock content %}
