{% if product %}
    <li class="flex items-center gap-4"
        id="cart-item-{{ product.properties.id }}">
        <img src="{{ product.properties.get_thumbnail }}"
             alt="{{ product.properties.name }}"
             class="h-16 w-16 rounded object-cover" />
        <div>
            <h3 class="text-sm text-gray-900">{{ product.properties.name }}</h3>
            <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">
                <div>
                    <dt class="inline">Price:</dt>
                    <dd class="inline">
                        {{ product.properties.price }}
                    </dd>
                </div>
            </dl>
        </div>
        <div class="flex flex-1 items-center justify-end gap-2">
            <div>
                <label for="Quantity" class="sr-only">Quantity</label>
                <div class="flex items-center rounded border border-gray-200">
                    <a class="h-10 w-10 text-center leading-10 text-gray-600 transition hover:opacity-75 cursor-pointer"
                       hx-get="{% url 'cart:update' product.properties.id 'decrement' %}"
                       hx-target="#cart-item-{{ product.properties.id }}"
                       hx-swap="outerHTML">-</a>
                    <div class="h-5 w-5 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm ">
                        {{ product.quantity }}
                    </div>
                    <a class="h-10 w-10 text-center leading-10 text-gray-600 transition hover:opacity-75 cursor-pointer"
                       hx-get="{% url 'cart:update' product.properties.id 'increment' %}"
                       hx-target="#cart-item-{{ product.properties.id }}"
                       hx-swap="outerHTML">+</a>
                </div>
            </div>
            <a class="text-gray-600 transition hover:text-red-600 hover:cursor-pointer"
               hx-get="{% url 'cart:update' product.properties.id 'delete' %}"
               hx-target="#cart-item-{{ product.properties.id }}"
               hx-swap="outerHTML">
                <span class="sr-only">Remove item</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="h-4 w-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                </svg>
            </a>
        </div>
    </li>
{% endif %}
